{% extends "layout.html" %}

{% block title %}Duonco{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}

<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
              <a class="btn btn-primary" href="#about">Get Started</a>
          </div>
      </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8">
              <h2 class="text-white mb-4">Built with Bootstrap 5</h2>
              <p class="text-white-50">
                  Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                  <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                  The theme is open source, and you can use it for any purpose, personal or commercial.
              </p>
          </div>
      </div>
<<<<<<< HEAD
      <img class="img-fluid" src="../../assets/img/demo-image-01.jpg" alt="..." />
=======
      <img class="img-fluid" src="../assets/img/demo-image-01.jpg" alt="..." />
>>>>>>> 3ee8775eb1300458a54583fe2218a97bf7ea7b70
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
<<<<<<< HEAD
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." /></div>
=======
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../assets/img/bg-masthead.jpg" alt="..." /></div>
>>>>>>> 3ee8775eb1300458a54583fe2218a97bf7ea7b70
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Shoreline</h4>
                  <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
              </div>
          </div>
      </div>
      <!-- Project One Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
<<<<<<< HEAD
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
=======
          <div class="col-lg-6"><img class="img-fluid" src="../assets/img/demo-image-01.jpg" alt="..." /></div>
>>>>>>> 3ee8775eb1300458a54583fe2218a97bf7ea7b70
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Misty</h4>
                          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                          <hr class="d-none d-lg-block mb-0 ms-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
<<<<<<< HEAD
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
=======
          <div class="col-lg-6"><img class="img-fluid" src="../assets/img/demo-image-02.jpg" alt="..." /></div>
>>>>>>> 3ee8775eb1300458a54583fe2218a97bf7ea7b70
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">Mountains</h4>
                          <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                          <hr class="d-none d-lg-block mb-0 me-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
              <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
              <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                  <!-- Email address input-->
                  <div class="row input-group-newsletter">
                      <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                      <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                  </div>
                  <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                  <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3 mt-2 text-white">
                          <div class="fw-bolder">Form submission successful!</div>
                          To activate this form, sign up at
                          <br />
                          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                  </div>
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
              </form>
          </div>
      </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Address</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-envelope text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Email</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-mobile-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Phone</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">+1 (555) 902-8832</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
      </div>
  </div>
</section>

{% endblock %}